bin/
pkg/
.DS_Store
*.pyc
*.swp
*~
.vscode/
.vs/
.idea
.skaffold-*.yaml
.kubernetes-manifests-*/

.project
.eclipse.buildship.core.prefs
release/wi-kubernetes-manifests.yaml
/res
/generated-manifests
/locust_table
/locust_table*
/res*
/wrk_table
/wrk_table*
generated-script.lua
*_collection
wrk_collection*/
test*/